@use "global" as *;

.c-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 9px;

  @include responsive(md) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 30px;
  }
  
  @include responsive(xl) {
  }

  &__item{
    overflow: hidden;
    content-visibility: auto;
    contain-intrinsic-size: vw-size-sp(200);
    aspect-ratio: 1/1;
    background: #ccc;
    @include responsive(md) {
      contain-intrinsic-size: vw-size-pc(224);
    }
    @include responsive(xl) {
      contain-intrinsic-size: 224px;
    }

    @media (any-hover: hover) {
      &:hover{
        opacity: 0.8;
      }
    }
  }
}