@use "global" as *;

.c-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 9px;

  @include responsive(md) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 30px;
  }
  
  @include responsive(xl) {
  }

  &__item{
    overflow: hidden;
    aspect-ratio: 1/1;
    background: #ccc;
    @include responsive(md) {
    }
    @include responsive(xl) {
    }

    @media (any-hover: hover) {
      &:hover{
        opacity: 0.8;
      }
    }

    &.is-loading{
      pointer-events: none;
    }
  }
}