@use "global" as *;
// @use "global/variable" as *;
// @use "global/mixin" as *;
// @use "global/function" as *;

.l-cover {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
  @include responsive(md) {
  }
  @include responsive(xl) {
  }
}

